body, html {
	padding: 0;
	margin: 0;
	background-color: #aec;
	text-align: center;
	height: 100%;
	width: 100%;
}

input[type=file] {
	position: absolute;
	top: 10%;
	left: 5%;
}

canvas {
	position: absolute;
	top: 0;
}